@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #dddbff;
}

.wrapper {
  width: 90%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-mobile.png");
  background-size: cover;
  z-index: -5;
}

.data-storage {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5em;
  justify-items: center;
}

.features {
  background: #1d2c67;
  padding: 2.5em;
  border-radius: 10px;
  border-top-right-radius: 90px;
  width: 100%;
  min-height: 200px;
  max-width: 400px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.logo {
  margin-bottom: 1em;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__button {
  background: #0c122c;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin-right: 1.15em;
  cursor: pointer;
}

.feature__button:hover .feature__icon path {
  fill: #dddbff;
}

.storage-info {
  background: #1d2c67;
  text-align: center;
  padding: 2.5em;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.storage-info__heading {
  font-size: 1em;
  font-weight: 400;
}

.storage-info__heading em {
  font-weight: bold;
}

.storage-info__progress {
  background: #0c122c;
  width: 100%;
  height: 23px;
  padding: .25em;
  margin: 1em 0;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

.storage-info__progress::-webkit-progress-bar {
  border-radius: 10px;
  background: #0c122c;
}

.storage-info__progress::-moz-progress-bar {
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
  position: relative;
}

.storage-info__progress::-webkit-progress-value {
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
}

.storage-info__progress::after {
  content: '';
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 100%;
  position: absolute;
  right: calc(100% - 79.5%);
  top: .4em;
}

.storage-info__capacity {
  width: 100%;
  margin-bottom: 2em;
  font-size: .9em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storage-info__available {
  background: #fff;
  color: #000;
  font-size: 2.5em;
  padding: .25em;
  border-radius: 10px;
  width: 60%;
  min-width: 170px;
  max-width: 230px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  bottom: -35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.storage-info__available--small {
  font-size: .35em;
  color: #848794;
  vertical-align: middle;
}

.attribution {
  margin-top: 10em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 1440px) {
  body {
    background: #0c122c;
  }
  .wrapper::before {
    background-image: url("../images/bg-desktop.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .data-storage {
    max-width: 1000px;
    -ms-grid-columns: 1.25fr 2fr;
        grid-template-columns: 1.25fr 2fr;
    grid-gap: initial;
    justify-items: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .features {
    max-width: 350px;
  }
  .storage-info {
    text-align: left;
    max-width: 600px;
  }
  .storage-info__capacity {
    margin: initial;
  }
  .storage-info__available {
    max-width: 190px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-bottom-right-radius: initial;
    top: -1.1em;
    right: 1.15em;
    left: initial;
    bottom: initial;
    -webkit-transform: initial;
            transform: initial;
  }
  .storage-info__available::after {
    content: '';
    position: absolute;
    bottom: -.5em;
    right: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
  }
}
/*# sourceMappingURL=main.css.map */